:root {
    --primary-color: #EF8A97;
    --secondary-color: #FBE0E4;
    --tertiary-color:#88CFD2;
    --accent-color1: #F09A44;
    --accent-color2: #CCE8C0;
    --accent-color3: #5ABBBE;
    --accent-color4:#D5F5F6;
    --main-background-color: #F9DBE6;
    --shadow-color: #EFA0BD;
    --highlight-color: #F5EDED;
    --text-color: #515B4B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bolder;
    font-size: 64px;
    color:var(--secondary-color);
    text-shadow:var(--shadow-color);
    margin: 0;
    line-height: 1.5;
    font-family:'Courier New', Courier, monospace;

}

header a {
    text-decoration: none;
    color:var(--secondary-color);
    top: -250px;
}

header nav {
    margin: auto 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
}

header nav ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    line-height: 1.7;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    text-shadow:var(--shadow-color);
}

header nav ul li a:hover {
    background:none;
    color:var(--tertiary-color);
    border-radius: 20px;
    text-shadow: var(--accent-color3);
}

/* my sticky header was cutting off the tops of my <sections> so I found this neat solution on overstack that will adjust (pad) the scroll target to 150px from the id tag */
html {
    scroll-padding-top: 150px;
}

footer {
    padding: 25px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

.about-me {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

.about-me-img {
    width: 50vw;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    line-height: 1.7;
    color:var(--text-color);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 20px;
    text-align: left;
    border-bottom: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-radius: 10px;
}

.projects-intro {
    display: flex;
    flex-wrap: nowrap;
    align-items: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.projects-img {
    width: 100%;
    height: 80%;
    align-items: center;
}

.projects-text {
    display: flex;
    flex-direction: column;
    flex: wrap;
    justify-content: center;
    text-align: left;
    background-color: var(--main-background-color);
    line-height: 1.5;
    color:var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px 20px;
    border-bottom: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    border-radius: 10px;
}

.soundtracker h3 {
    color:var(--accent-color1);
}

.soundtracker {
    color:var(--accent-color1);
    background-color: moccasin;
    border-radius: 10px;
    margin: 25px 30px;
    border-bottom: 3px solid var(--accent-color1);
    border-left: 3px solid var(--accent-color1);
}

.soundtracker p {
    padding: unset;
}

.Run-Buddy {
    background-color: var(--accent-color2);
    color: var(--text-color);
    border-radius: 10px;
    border-bottom: 3px solid var(--text-color);
    border-left: 3px solid var(--text-color);
    padding: 50px  0;
    margin: 25px 30px;
    font-family: 'Courier New', Courier, monospace;
}

.project-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    border-radius: 10px;
}

.cards a {
    text-align: center;
}

.card-desc p {
    margin-top: 10px;
}

section .card-row {
    display: flex;
    justify-content: space-evenly;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landscape a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background-color: var(--main-background-color);
    border-radius: 10px;
}


 /* Borrowed this from a "CSS Hover Image Effects" template @ https://codepen.io/nxworld .*/ */
    .hover-img:hover {
        opacity: 1;
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
    }
    @-webkit-keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }
/* now back to the regularly scheduled HOT MESS of my own code 😅 */

.project-desc h3 {
    align-content: center;
    margin-bottom: 35px;
    font-size: 5vw;
}

.project-desc p {
    margin: 20px 140px 10px;
    line-height: 1.5;
}

.cards {
    display: inline-block;
    border: 3px solid var(--accent-color3);
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    min-width: 29%;
    max-width: 45%;
}

.cards {
    margin: 10px 15px;
    display: inline-block;
    justify-content: space-around;
    border-radius: 10px;
    align-items: stretch;
    background-color:var(--tertiary-color);
    border-bottom: 5px solid var(--accent-color3);
    border-left: 5px solid var(--accent-color3);
}

.card-imgs a img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

.card-desc a{
    text-decoration: none;
    text-align: center;
    color: white;
    border-bottom: 1px solid var(--tertiary-color);
    padding: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.card-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    /* font-size: 16px; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px;
    border-radius: 10px;
    text-decoration: none;
    line-height: 1.5;
}

.contactme {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* justify-content: flex-end; */
    border-radius: 10px;
    align-items: center;
}

.contact-desc {
    padding-bottom:10px;
}

.contact-me-text {
    background-color: var(--accent-color1);
    line-height: 1.7;
    color:var(--highlight-color);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
    margin: 0 0 0 40px;
    padding: 20px 20px 30px 20px;
    text-align: left;
    border-bottom: 3px solid var(--tertiary-color);
    border-left: 3px solid var(--tertiary-color);
    border-radius: 10px;
    justify-content: space-between;
    max-width: 50%;
    overflow: hidden;
}

.contact-me-text ul li {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none; 
}

.contact-me-text ul li a {
    line-height: 1.5;
    list-style: none;
    color: white;
    text-decoration: none;
    text-shadow: var(--shadow-color);
    align-content: space-around;
    margin: auto 30%;
    padding: 0;
    font-size: 18;
    font-family: 'Courier New', Courier, monospace;
}

.github {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.linkedin {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.contact-me-text ul li a:hover {
    color:var(--text-color);
    font-size: 24px;
    overflow: none;
}

.sitting-and-singing-img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid var(--shadow-color);
    color:var(--primary-color);
    text-align: center;
    margin: 10px 20px;
    font-size: 24px;
    line-height: 1.7;
}
.portfolio h2 {
    margin: 10px 125px;
    color:var(--primary-color);
}
.contactme h2 {
    color:white;
    border-bottom: 1px solid white;
    margin: 0;
}

h3 {
    font-family:'Courier New', Courier, monospace;
    color:var(--text-color);
    border-bottom: 1px solid var(--text-color);
    margin: auto;
    line-height: 1.5;
    font-weight: bolder;
    text-decoration: none;
}

.card-desc h3 {
    justify-content: center;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    
}

footer a:hover {
    color:var(--text-color);
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
  
    header nav ul {
        margin: 20px 0;
        width: 100%;
        justify-content: center;
    }
  
    header nav ul li a {
        font-size: 20px;
    }
  
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .about-me {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .projects-intro {
        justify-content: center;
        flex-direction: row;
        flex: wrap;
        align-items: center;
    }

    .projects-img {
        /* width: 30%; */
        height: auto;
    }

    .Run-Buddy {
        display: flex;
        flex-direction: column;
        flex: nowrap;
        align-items: center;
        padding: 1vw 0;
    }

    .landscape img {
        width: 100%;
        height: auto;
        /* margin: 0;
        padding: 0; */
    }

    .project-desc {
        padding: 10px 10px;
        margin: 0px;
        justify-content: center;
    }

    .project-desc p {
        margin: 0 100px;
        align-content: center;
        font-size: 2vw;
    }

    .project-desc h3 {
        margin-bottom: 20px;
        font-size: 4vw;
    }
}

@media screen and (max-width: 768px) {
    .projects-intro {
        flex: nowrap;
    }
    
    .projects-img img {
        height: auto;
        width: 100%;
    }
    .project-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 65%;
        height: auto;
        margin: auto auto 20px auto;
    }

    .card-desc img {
        width: 55%;
        height: auto;
        justify-content: center;
    }

    .contactme {
        margin: auto auto 20px auto;
    }
    .contact-me-text {
        font-size: 18px;
    }

    .contact-me-text h2 {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .singing-img {
        max-width: 50%;
    }
}

@media screen and (max-width: 575px) {
    .about-me-img {
        width: 100%;
    }

    .Run-Buddy {
        margin: 0 0 20px 0;
    }

    .landscape img {
        margin: 0;
    }

    .project-desc p {
        margin: 15px auto;
        font-size: 3.5vw;
    }

    .project-cards {
        width: 80%;
        height: 80%;
    }

    .card-desc img {
        width: 55%;
    }
}

@media screen and (max-width: 440px) {
    footer {
        padding: 15px 15;
    }

    footer h4 {
        font-size: 12px;
    }

    footer p {
        font-size: 11px;
    }
    
    .nav ul {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .about-me-text {
        font-size: 16px;
    }

    .projects-intro {
        margin-bottom: 20px;
    }

    .projects-text {
        font-size: 16px;
        max-width: 60%;
    }
    
    .Run-Buddy h3 {
        font-size: 18px;
    }

    .card-imgs-link img {
        width: 100%;
        height: auto;
    }

    .project-cards {
        margin-bottom: 20px;
    }

    .contactme {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: auto auto 20px auto;
        align-items: center;
        height: auto;
    }

    .contact-me-text {
        margin: auto auto 20px 20px;
        max-width: 60%;
        font-size: 16px;
    }

    .contact-me-text ul li a {
        margin: auto 45;
    }
}